.ListadoFavoritos {
    width: 100%;
    padding-top: 0;
    padding-bottom: 35px;
}

.favoritosContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1.3%;
}

.favoritosContainer .pelicula-card {
    width: 24%;
}

@media (max-width: 900px) {
    .favoritosContainer .pelicula-card {
        width: 48%;
    }
}

@media (max-width: 600px) {
    .favoritosContainer .pelicula-card {
        width: 100%;
    }
}
